/* RESET */
* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

header{
    width: 100%;
    height: 8vh;
    padding-bottom: 10px;
    background-color: black;
    justify-content: flex-end;
    align-items: center;

}

main{
    background-color: black;
}

footer{
    width: 100%;
    height: 10vh;
    background-color: #222222;
    overflow: auto;
}

.flex-container{
    display: flex;
}

header div.top-nav{
    width: 15%;
    color: white;
    justify-content: flex-end;
}

header div.top-nav div.top-link{
    font-size: 0.8rem;
    margin: 0.3rem;
    padding: 5px;
    border-radius: 4px;
    background-color: #4A4A4A;
}

.main-section{
    width: 95%;
    height: 82vh;
    margin: 0 auto;
    overflow: auto;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 15px 5px;
}

section.main-section div.flex-image{
    flex-basis: 200px;
    height: 150px;
    background-image: url("https://i.picsum.photos/id/1015/6000/4000.jpg?hmac=aHjb0fRa1t14DTIEBcoC12c5rAXOSwnVlaA5ujxPQ0I");
    background-size: cover;
    align-items: flex-end;
    flex-wrap: wrap;
}

div.window-name{
    color: white;
    font-size: 0.8rem;
    padding: 0.25rem;
    background-color: #636E7A;
}

footer.flex-container{
    justify-content: space-between;
}

footer div.footer-link-left{
    width: 10%;
    min-width: 120px;
    margin-left: 0.7rem;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

footer div.footer-link-center{
    width: 40%;
    min-width: 480px;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
}

footer div.footer-link-right{
    width: 8%;
    background-color: #4A4A4A;
    flex-shrink: 0;
}

footer div.footer-link i{
    font-size: 1.5rem;
}

footer div.footer-link i.fa-angle-up{
    font-size: 0.9rem;
}

footer div.footer-link p{
    font-size: 0.8rem;
}

footer div.footer-link{
    color: white;
    text-align: center;
    flex-shrink: 0;
}

footer div.footer-link-right #end-call{
    margin: auto;
    color: red;
}