/* RESET */
* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

header{
    width: 100%;
    height: 5vh;
    background-color: black;
}

main{
    background-color: black;
}

footer{
    width: 100%;
    height: 10vh;
    background-color: chartreuse;
}

header div.top-nav{
    width: 15%;
    background-color: blue;
    color: white;
}

header div.top-nav .top-link{

}

.main-section{
    width: 95%;
    height: 85vh;
    margin: 0 auto;
    overflow: scroll;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 15px 5px;
    background-color: blueviolet;
}

section.main-section div.flex-image{
    flex-basis: 200px;
    height: 150px;
    background-color: yellow;
    background-image: url("https://i.picsum.photos/id/1015/6000/4000.jpg?hmac=aHjb0fRa1t14DTIEBcoC12c5rAXOSwnVlaA5ujxPQ0I");
    background-size: cover;
    align-items: flex-end;
}

div.window-name{
    color: white;
    font-size: 0.8rem;
    padding: 0.25rem;
    background-color: #636E7A;
}

.flex-container{
    display: flex;
}